[submodule "Bootstrap4Dev"]
	path = Bootstrap4Dev
	url = https://github.com/aksoni27/Bootstrap4Dev
[submodule "Web-Dev-Course-Bootstrap-"]
	path = Web-Dev-Course-Bootstrap-
	url = https://github.com/aksoni27/Web-Dev-Course-Bootstrap-
[submodule "corona-virus-tracking-system-using-Reactjs"]
	path = corona-virus-tracking-system-using-Reactjs
	url = https://github.com/aksoni27/corona-virus-tracking-system-using-Reactjs
[submodule "Image-Searcher-using-ReactJs"]
	path = Image-Searcher-using-ReactJs
	url = https://github.com/aksoni27/Image-Searcher-using-ReactJs
